* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  background-color: #EAE6D6;
}

main {
  flex-direction: column;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
}

div.header-container {
  margin-top: 5vh;
  width: 90%;
  max-width: 700px;
  border: 2px solid #9E9880;
}

h3.header-about {
  text-align: center;
  padding: 15px;
}

section.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
}

input.search-input {
  width: 200px;
}

input.search-submit {
  background-color: #70729E;
  color: #FFFFFF;
}

input.search-input, input.search-submit {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}

ul {
  list-style: none;
  /* padding-inline-start: 0px; */
  padding: 0px;
  margin: 0px;
  margin-top: 30px;
}

li {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

div.list-item-content { 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border: 2px solid #9E9880;
  padding: 15px;
}

img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  padding: 15px 15px 15px 0px;

}

div.image-box {
  display: flex;
  align-items: center;
}



p.description {
  padding: 15px;
  font-size: 14px;
}

p.sentiment-check {
  background-color: #70729E;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  border: 2px solid black;
  border-style: outset;
}

span {
  font-size: 16px;
  font-weight: bolder;
}

i {
  font-size: 16px;
}

footer {
  display: inline-block;
  position: relative;
  bottom: 5px;
  left: 5px;
}

a.full-article {
  margin-bottom: 15px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 45px;
}

h2 {
  font-family: 'Playfair Display', serif;
}

h3 {
  width: 100%;
  text-align: center;
  padding: 15px;
  text-align: left;
}

.hidden {
  visibility: hidden;
  height: 0;
}

p.slightly-negative {
  border: 3px solid #F7331D;
  border-style: inset;
}

p.strongly-negative {
  border: 3px solid #8B0101;
  border-style: inset;

}

p.neutral {
  border: 3px solid #FFFFFF;
  border-style: inset;

}

p.mixed {
  border: 3px solid #1BA8F0;
  border-style: inset;

}

p.slightly-positive {
  border: 3px solid #E7F7CB;
  border-style: inset;

}

p.strongly-positive {
  border: 3px solid green;
  border-style: inset;

}